#addButton {
    color: #0277bd;
    border-color: #0277bd;
}

#addButton:hover {
    color: #ffffff;
    background-color: #0277bd;
}

#addButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.2);
}

#addButton:active {
    color: #ffffff;
    background-color: #0277bd;
}

#deleteButton {
    background-color: #e53935;
    border-color: #e53935;
}

#deleteButton:hover {
    background-color: #c62828;
    border-color: #c62828;
}

#deleteButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 40, 40, 0.2);
}

#deleteButton:active {
    background-color: #c62828;
    border-color: #c62828;
}