#submitButton {
    background-color: #0277bd;
    border-color: #0277bd;
}

#submitButton:hover {
    background-color: #01579b;
    border-color: #01579b;
}

#submitButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.2);
}