#loginForm {
    margin-top: 25vh;
}

label {
    font-weight: 600;
}

#loginForm .form-control:focus {
    border-color: rgba(2, 119, 189, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.2);
}
