* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0288d1;
    padding: 0 1.5vw;
    margin-bottom: 5vh;
}

.navbar-brand {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
}

.nav-link:hover {
    color: #0288d1;
    background-color: #ffffff;
}

button {
    background-color: transparent;
}
