#registerForm {
    margin-top: 10vh;
}

#registerForm .form-control:focus {
    border-color: rgba(2, 119, 189, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.2);
}

#selectProfessor {
    display: none;
}