.btn-edit {
    color: #0277bd;
}

.btn-edit:hover {
    color: #ffffff;
    background-color: #0277bd;
}

.btn-edit:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.2);
}

.btn-delete {
    color: #f44336;
}

.btn-delete:hover {
    color: #ffffff;
    background-color: #f44336;
}

.btn-delete:focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 40, 40, 0.2) !important;
}
